* {
  margin: 0;
  padding: 0;
}

h1 {
  display: block;
  width: 800px;
  padding-bottom: 50px 0;
  text-align: center;
  margin:50px auto;
}

@keyframes appear {
  from { bottom: 90px; }
  to { bottom: 0px; }
}

@keyframes opacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.h1-appear {
  position: relative;
  bottom: 0px;
  animation: appear 1s, opacity 3s;
}

.wrapper-appear {
  position: relative;
  bottom: 0px;
  opacity: 0;
  animation: appear 1s .5s, opacity 3s .5s forwards;
}

.wrapper {
  border: 1px solid #BABABA;
  height: 540px;
  width: 540px;
  background-color: white;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 180px;
}

.square {
  float: left;
  height: 25px;
  width: 25px;
  display: inline-block;
  background-color: black;
}

.square-red {
  animation: rotate 5s linear, color 5s ease;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes color {
  0% { background-color: black; }
  50% { background-color: red; }
}

.square-orange {
  animation: rotate 5s linear, orange 5s ease;
  animation-iteration-count: infinite;
}

@keyframes orange {
  0% { background-color: black; }
  50% { background-color: orange; }
}

.square-yellow {
  animation: rotate 5s linear, yellow 5s ease;
  animation-iteration-count: infinite;
}

@keyframes yellow {
  0% { background-color: black; }
  50% { background-color: yellow; }
}

.square-green {
  animation: rotate 5s linear, green 5s ease;
  animation-iteration-count: infinite;
}

@keyframes green {
  0% { background-color: black; }
  50% { background-color: green; }
}

.square-blue {
  animation: rotate 5s linear, blue 5s ease;
  animation-iteration-count: infinite;
}

@keyframes blue {
  0% { background-color: black; }
  50% { background-color: blue; }
}

.square-purple {
  animation: rotate 5s linear, purple 5s ease;
  animation-iteration-count: infinite;
}

@keyframes purple {
  0% { background-color: black; }
  50% { background-color: purple; }
}

.row {
  width: 150px;
}
