/*
  ========================================
  Clearfix
  ========================================
*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Global Styles
  ========================================
*/

body {
  font-family: 'Poppins', sans-serif;
}

li {
  list-style: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.centered {
  margin: 0 auto;
}
/*
  ========================================
  Marquee
  ========================================
*/

.marquee-large {
  height: 600px;
  position: relative;
}

.logo {
  margin: 0 auto;
  text-align: center;
  font-size: 52px;
  color: #fff;
  background-color: #FB0045;
  max-width: 50%;
}

.marquee-background {
  background-image: url(../img/marqueebackground.png);
  background-repeat: no-repeat;
  background-size: cover;
/*  background-position-y: -410px;*/
}

.section-background {
  background-color: #F8F8F8;
}

.section-background h2 {
  margin-top: 0;
}

.section-background section {
  background-color: #fff;
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 30px 40px;
  box-sizing: border-box;
  z-index: 999;
  position: relative;
  top: -40px;
}

.section-background ul {
  padding-left: 0;
}

/*
  ========================================
  Floated Section
  ========================================
*/

.high-sunlight img {
  display: block;
}

.float-blocks li {
  float: left;
  margin-right: 31px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #EFEFEF;
}

.float-blocks p {
  margin-left: 20px;
  float: left;
}

.icon-sunshine {
  background-image: url(../img/sunshine.png);
  width: 27px;
  height: 28px;
  float: right;
  margin: 16px 10px 0 20px;
}

/*
  ========================================
  Display
  ========================================
*/

.inline-blocks li {
  display: inline-block;
  max-width: 30%;
  margin-right: 31px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
}

.inline-blocks p {
  display: inline-block;
  padding-left: 20px;
  width: 80%;
}

.mid-sunlight img {
  width: 100%;
}

.icon-partlycloud {
  background-image: url(../img/partlycloudy.png);
  width: 32px;
  height: 31px;
  display: inline-block;
}


/*
  ========================================
  Position
  ========================================
*/

.low-sunlight {
  position: relative;
  height: 500px;
  width: 500px;
  text-align: center;
}

.position-blocks {
  position: absolute;
  left: 70px;
  top:90px;
}

.position-blocks ul {
  background-color: #fff;
  border: 1px solid #EFEFEF;
}

